head
  title #{title}
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="./theme/css/reset.css")
  -
  each item in list_css
    link(rel="stylesheet" href= item)
  block styles